extends layout

block content
	.post
		.post_header
			h2 About
		.post_body
			h3
				ul#main Basic
					li#main Name: Tran Quang Cuong
					li#main Date of birth: 01/10/1995
					li#main Major: Computer Science
				ul#main Interest
					li#main Reading book
					li#main Walking
					li#main Play games
					li#main ...
		
  
