extends layout

block content
	.post
		.post_header
			h2 Contact
		.post_body
			h3
				ul#main Office
					li#main UET-VNU
					li#main Email: cuongtq_58@vnu.edu.vn
					li#main Phone: 01667779xxx
  
