extends layout

block content
	link(rel='javascript', href='/javascripts/main.js')
	.container
		h3 HOMEWORK W1
		.container
			-var baseURL = 'http://postimg.org/image';
			-var imgs = [{icon: '/wzmgukztr/full'},{icon: '/da46i4rxb/full'},{icon: '/99x15w1gf/full'},{icon: '/hxa8jwfa7/full'},{icon: '/7jn6vvyov/full'},{icon: '/bh19tt6qn/full'},{icon: '/44vto9oin/full'},{icon: '/jl9dyjt5r/full'},{icon: '/d16ls7f4v/full'},{icon: '/4o5iba5b3/full'},{icon: '/zfoa8fhwf/full'},{icon: '/3uob4x9wf/full'},{icon: '/itbbd3ecf/full'},{icon: '/6tzt5s8rj/full'},{icon: '/4qpdy48yn/full'},{icon: '/uaro4jucf/full'},{icon: '/4t99kycm7/full'},{icon: '/5k1zqqezj/full'},{icon: '/9hp9g51sv/full'},{icon: '/jt1m8sti7/full'},{icon: '/d3v2ss867/full'},{icon: '/m1ke3vpzz/full'},{icon: '/7jn6vvyov/full'}]
			-console.log('This is TEST' + imgs)
			-var n = 1;

			each image in imgs
				h4 Question: #{n++}
				img( class="img-resize" src="#{baseURL + image.icon}")



