extends layout

block content
	.post
		.post_header
			|This is the sample.
		.post_body
			|This is the body of the post. You can make change or load from database. Remembering that using promises is the strong.
		.post_content
			|Time: 10:15 06/02/2016
  
