<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>J2J Converter</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
	<script type="text/javascript">
		alert("TEST");
		var input = {
			[
				{
					name: "Tran",
					age: 18
				},
				friend:[
					{
						name: "Nguyen",
						age: 20
					},
					{
						name: "Thi",
						age: 33
					}
				]
			]
		};
		

		

		
	</script>
</body>
</html>