extends layout

block content
	.post
		.post_header
			h2 Work
		.post_body
			h3
				ul#main Now
					li#main Student at University of Engineering and Technology
					li#main Faculty: Information and Technology
				ul#main Past
					li#main ...
		
